$singIn-bg: #FFFFFF;
$singIn-closeBtn: #74767A;
$singIn-fastLoginBtn-color: black;
$singIn-fastLoginBtn-border: #CECECE;
$singIn-fastLoginBtn-bg: #F4F6F9;
$singIn-line: #E1E5EB;
$singIn-submitBtn-link: #11397E;
$singIn-submit-color: white;
