//colors text
$main-text-color: #000000;
$primary-text-color: #11397e;
$second-text-color: #1c1b1f;
$third-text-color: #74767a;

//colors background
$form-background-color: rgba(255, 255, 255, 0.85);

//colors border
$form-border-color: rgba(116, 118, 122, 0.6);
