<section class="container">
  <h1 style="text-align: center">Правила использования Сервиса</h1>
  <p style="text-align: center">Актуальная редакция от 2023 года</p>
  <p>
    Перед использованием, пожалуйста, ознакомьтесь с правилами Сервиса. Факт использования Сервиса
    любым способом признается акцептом, то есть полным и безоговорочным согласием Пользователя
    использовать Сервис на изложенных условиях.
  </p>
  <p><strong>1. Общие положения</strong></p>
  <p>
    1.2. Под Сервисом поиска авиабилетов (далее — «Сервис») в целях настоящих Правил понимается
    многофункциональный программный продукт, предназначенный для предоставления Пользователям через
    средства пользовательского интерфейса, в том числе, следующих возможностей:
  </p>
  <ul>
    <li>
      поиск и получение на основании запросов через поисковый интерфейс информации об авиабилетах и
      иных услугах для путешественников, которые предлагаются к приобретению третьими лицами —
      авиакомпаниями, агентствами, системами бронирования, отелями, агрегаторами и т.п. (далее —
      «поставщики»). Для отдельных поставщиков возможности Сервиса также могут быть использованы с
      целью облегчения (автоматизации) процесса приобретения (бронирования) соответствующих услуг у
      таких поставщиков;
    </li>
    <li>
      отслеживание и получение по подписке статистической информации о стоимости авиабилетов на
      заданные направления, иной предлагаемой Владельцем информации об услугах для путешественников
      и рекламной информации третьих лиц по электронным каналам связи, включая электронную почту и
      мессенджеры;
    </li>
    <li>
      персонификация функциональных возможностей Сервиса после авторизации на нем. Например,
      сохранение указанных Пользователем данных, документов для бронирования у поставщиков, настроек
      отдельных программных элементов Сервиса под себя, подключение дополнительных продуктов и услуг
      Сервиса, в том числе за плату;
    </li>
    <li>
      получение для ознакомления информационных материалов и иного контента о путешествиях,
      доступных непосредственно на Сервисе и в социальных сетях Владельца, таких как путеводители,
      подборки мест.
    </li>
    <li>
      Участия в рекламных акциях и конкурсах, организованных Владельцем сервиса и/или его
      партнерами;
    </li>
    <li>
      получение консультаций по вопросам, связанным с использованием Сервиса и, при наличии
      возможности, по вопросам об оказываемых поставщиками услугах при прямом обращении Пользователя
      в службу пользовательской поддержки по любым электронным каналам связи из доступных для
      коммуникации;
    </li>
  </ul>
  <p>
    1.3. Отношения по использованию отдельных частей и возможностей Сервиса помимо настоящих Правил
    могут быть дополнительно урегулированы специальными правилами и условиями, которые размещаются
    на соответствующих страницах пользовательского интерфейса в виде документов, описаний,
    инструкций. Во всем, что не урегулировано соответствующими специальными условиями и правилами,
    отношения по использованию Сервиса, включая использование его отдельных частей и возможностей,
    регулируются настоящими Правилами.
  </p>
  <p>
    1.4. Пользователь выражает согласие с тем, что использование Сервиса, а также любых его частей
    или возможностей любым способом подразумевает факт ознакомления Пользователя с Правилами, а
    также со специальными правилами и условиями согласно п. 1.3. (в случае использования
    соответствующих частей или возможностей Сервиса, на которые распространяются такие специальные
    правила и условия), и означает их принятие без оговорок. Если Пользователь не принимает
    указанные условия, он обязан воздержаться от использования Сервиса.
  </p>
  <p>
    1.5. К Правилам и всем отношениям, связанным с использованием Сервиса, подлежит применению право
    Российской Федерации. Любые претензии или иски, вытекающие из настоящих Правил и/или
    использования Сервиса, должны быть поданы и рассмотрены согласно действующему законодательству
    Российской Федерации.
  </p>
  <p>
    1.6. Если по какой-либо причине одно или несколько положений Правил будут признаны
    недействительными или не имеющими юридической силы, это не оказывает влияния на действительность
    или применимость остальных положений Правил.
  </p>
  <p>
    1.7. Неотъемлемой частью Правил, в том числе, является
    <a class="link" [routerLink]="['/policy']">Соглашение об обработке персональных данных</a>
    Пользователей.
  </p>
  <p><strong>2. Использование Сервиса</strong></p>
  <p>
    2.1. Владелец сервиса безвозмездно, на условиях простой (неисключительной) лицензии,
    предоставляет Пользователю непередаваемое право использования Сервиса на территории всех стран
    мира по его прямому функциональному назначению и исключительно для реализации предусмотренных
    Владельцем возможностей Сервиса и получения услуг Владельца, доступных через Сервис.
  </p>
  <p>
    2.2. Взаимодействие с Сервисом, в том числе, формирование запросов Пользователя для поиска услуг
    для путешественников, может осуществляться исключительно средствами предоставляемого
    Пользователям интерфейса Сервиса с авторизованных программ и устройств.
  </p>
  <p>
    Средствами Сервиса Пользователю предоставляется возможность ознакомиться с предложениями
    поставщиков по заданным направлениям (локациям) и датам, а также получить ссылку для перехода на
    их сайты для совершения бронирования. В некоторых случаях программными средствами Сервиса
    Пользователю может быть предоставлена возможность заполнить данные, необходимые для приобретения
    авиабилетов, непосредственно на Сервисе и отправить их третьему лицу, реализующему авиабилеты, в
    целях совершения бронирования.
  </p>
  <p>
    Предоставляемые Сервисом ссылки на любой сайт третьего лица, продукт, услугу, любую информацию
    коммерческого или некоммерческого характера, в т.ч. предоставление возможностей Сервиса по
    заполнению Пользователем данных, необходимых для приобретения услуг, и отправке их третьему
    лицу, реализующему авиабилеты, в целях совершения бронирования, не является одобрением или
    рекомендацией данных продуктов (услуг, деятельности, лиц) со стороны Владельца, а также не
    является рекламой при отсутствии прямого указания об этом.
  </p>
  <p>
    2.3. Покупка (оформление) авиабилетов, иных услуг для путешественников и их оплата производится
    на сайтах поставщиков, предлагающих их к продаже. Пользователь подтверждает понимание того
    обстоятельства, что Владелец сервиса:
  </p>
  <ul>
    <li>
      не осуществляет продажу авиабилетов, отелей, страховок, иных услуг для путешественников и не
      выступает посредником между Пользователем и третьим лицом, которое реализует конкретную
      услугу;
    </li>
    <li>
      не участвует во взаиморасчетах между Пользователем и поставщиком, не взимает с Пользователя
      денег за использование возможностей Сервиса, доступных на безвозмездной основе, или совершение
      им любых действий в связи с покупкой авиабилетов, отелей и иных услуг для путешественников,
      найденных через Сервис;
    </li>
    <li>
      не гарантирует и не несет ответственности за достоверность информации о любых услугах,
      предлагаемых к продаже поставщиками, осуществление денежных трансферов, исполнение договоров
      перевозки, предоставления проживания и иных;
    </li>
    <li>
      предоставляя Пользовательскую поддержку в связи с оформленными через Сервис (после перехода на
      сайт поставщика), не гарантирует достижения какого-либо результата или решения конкретной
      проблемы Пользователя и не несет ответственности за деяния, решения поставщиков, изменение
      применимого регулирования или действия, решения любых третьих лиц, влияющие на отношения
      Пользователя и поставщика.
    </li>
  </ul>
  <p>
    В любом случае, при возникновении спорных ситуаций относительно покупки (оформления)
    авиабилетов, иных услуг для путешественников Пользователь обязуется обращаться за их разрешением
    непосредственно к лицам, вступившим с Пользователем в отношения, связанные с оформлением такой
    услуги.
  </p>
  <p>2.4. При использовании Сервиса Пользователю запрещается:</p>
  <ul>
    <li>
      вмешиваться в работу Сервиса способами, следствием использования которых может быть нарушение
      его работоспособности, в том числе формировать запросы не через Пользовательский интерфейс;
    </li>
    <li>
      использовать любые не авторизованные Владельцем или на территории Пользователя программы или
      приложения для взаимодействия с Сервисом;
    </li>
    <li>
      осуществлять модификацию, усовершенствование, перевод на другие языки, декомпилирование,
      дизассемблирование, декодирование, эмуляцию, нарушение целостности, восстановление исходного
      кода Сервиса или каких-либо его частей;
    </li>
    <li>использовать Сервис в незаконных целях.</li>
  </ul>
  <p>
    2.5. Владелец сервиса вправе в любое время по своему усмотрению прекратить поддержку
    работоспособности Сервиса, изменить его функциональность, пользовательский интерфейс и любые
    иные характеристики, а также запретить использование Сервиса.
  </p>
  <p>
    2.6. После осуществления подписки на рассылку и до ее отмены доступными на Сервисе способами
    отписки Пользователю предоставляется возможность получать по электронным каналам связи:
  </p>
  <ul>
    <li>
      новости об изменениях цен на интересующие Пользователя даты и направления перелетов, иных
      услуг;
    </li>
    <li>
      новостную и рекламную рассылку от, в том числе с рекламной информацией от партнеров Сервиса
      (сторонних рекламодателей).
    </li>
  </ul>
  <p>
    2.7. Средствами Сервиса Пользователю предоставляется возможность персонифицировать
    функциональность и интерфейс Сервиса под собственные нужды, получить доступ к платным
    возможностям и продуктам Владельца и/или партнеров Сервиса. Пользователь соглашается, что факт
    авторизации Пользователя на Сервисе и использования присвоенной Пользователю аккаунта,
    расценивается как согласие Пользователя на обработку данных аккаунта для реализации
    предусмотренных Владельцем возможностей Сервиса и предоставления услуг Владельца и поставщиков,
    доступных через Сервис.
  </p>
  <p>
    2.8. При обращении в службу пользовательской поддержки Пользователь соглашается с тем, что
    скорость ответа по обращению не определена и зависит от объема поступающих запросов.
    Использование любой информации и сведений, полученных в ходе консультаций от службы поддержки
    осуществляется Пользователем без гарантий в отношении достоверности предоставленной информации и
    сведений на конкретный момент времени. Любая информация, полученная от Пользователя в связи с
    его обращением, может использоваться Владельцем исключительно для работы с обращением в
    интересах Пользователя.
  </p>
  <p><strong>3. Ответственность</strong></p>
  <p>
    3.1. Сервис, его части и любые возможности предоставляется на условиях «как есть» (as is).
    Владелец сервиса не предоставляет никаких гарантий в отношении безошибочной и бесперебойной
    работы Сервиса, отдельных его частей, компонентов, возможностей, реализуемых средств или
    функций, соответствия функциональности Сервиса конкретным целям и ожиданиям Пользователя, не
    гарантирует достоверность, точность, полноту и своевременность предоставляемой Сервисом данных,
    а также не предоставляет никаких иных гарантий, прямо не указанных в настоящих Правилах,
    специальных правилах и условиях.
  </p>
  <p>
    3.2. Владелец сервиса с учетом ограничений, установленных в законе, не несет ответственности за:
  </p>
  <ul>
    <li>
      какие-либо прямые или косвенные последствия какого-либо использования или невозможности
      использования Сервиса (включая данные) и/или ущерб, причиненный Пользователю и/или третьим
      сторонам в результате какого-либо использования;
    </li>
    <li>
      неиспользования или невозможности использования Сервиса (включая данные) или отдельных его
      компонентов и/или функций, в том числе из-за возможных ошибок или сбоев в работе Сервиса;
    </li>
    <li>
      любую информацию, сведения, рекламу, материалы и контент, которые размещаются на ресурсах
      поставщиков и третьих лиц, и на ресурсы которых может быть переадресован Пользователь при
      использовании возможностей Сервиса.
    </li>
  </ul>
  <p>
    3.3. Пользователь обязуется использовать Сервис в соответствии с законами той страны, в которой
    он находится, и принимает на себя ответственность нарушение установленных национальным
    законодательством ограничений на использование Сервиса.
  </p>
  <p>
    3.4. Пользователь самостоятельно несет ответственность перед третьими лицами за свои действия,
    связанные с использованием Сервиса, в том числе, если такие действия приведут к нарушению прав и
    законных интересов третьих лиц, а также за соблюдение применимого законодательства при
    использовании Сервиса.
  </p>
  <p>
    3.5. В случае возникновения любых спорных ситуаций, касающихся настоящих Правил, Пользователь
    перед обращением в судебные органы за разрешением спора обязан предпринять меры для досудебного
    урегулирования, направив соответствующее письмо по адресу Владельца сервиса.
  </p>
  <p><strong>4. Права на Сервис</strong></p>
  <p>
    4.1. Права на интеллектуальную собственность, в том числе результаты интеллектуальной
    деятельности, включенные в состав Сервиса и/или используемые им, такие как тексты, изображения,
    дизайн, иной контент, базы данных, ноу-хау, торговые марки, фирменные наименования и иные
    средства идентификации и т.п., а также доменные имена, принадлежат Владельцу сервиса или третьим
    лицам – правообладателям, и предоставлены Владельцу по лицензии либо размешаются Владельцем по
    поручению правообладателей.
  </p>
  <p>
    4.2. Объекты интеллектуальной собственности, исключительные права на которые не принадлежат
    Владельцу сервиса, размещаются Владельцем исключительно с целью доведения до пользователей
    сведений о конкретной авиакомпании, агентстве, системе бронирования, иных поставщиках,
    информация об услугах которых доступна на Сервисе.
  </p>
  <p>
    4.3. Использование указанных в п. 4.1. объектов интеллектуальной собственности возможно только в
    рамках функциональных возможностей, предлагаемых Сервисом. Пользователь соглашается, что
    использование Сервиса не предоставляет ему никаких прав в отношение указанных объектов
    интеллектуальной собственности, за исключением прав, явно указанных в Правилах, специальных
    правилах и условиях.
  </p>
  <p><strong>5. Изменение Правил</strong></p>
  <p>
    5.1. Владелец сервиса вправе в любое время и без предварительного уведомления изменить настоящие
    Правила в одностороннем порядке..
  </p>
  <p>
    5.2. Изменения Правил вступают в силу с даты их публикации, если иное не оговорено в
    соответствующей публикации.
  </p>
</section>
