@import "variables";

.cart {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 40px auto 100px;
  padding: 0px 0px 30px 0px;
  background-color: $white;
  box-shadow: $box-shadow;
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;

  &__wrapper {
    width: 100%;
  }

  &__title {
    display: flex;
    align-items: center;
    height: 88px;
    padding-left: 34px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    margin: 40px 0 0 0;
    padding-right: 36px;
    color: $primary-text-color;

    &-btn {
      height: 60px;
    }

    &-selected-count {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $third-text-color;
    }
  }
}