@import "variables";

.singIn-modal {
  display: none;
  position: absolute;
  right: 160px;
  top: 90px;
}

.singIn {
  width: 494px;
  background: $singIn-bg;
  border-radius: 8px;
  padding: 32px 24px;
  box-sizing: border-box;
  position: relative;
}

.singIn-closeButton {
  position: absolute;
  right: -25px;
  top: -15px;
  color: $singIn-closeBtn;
  cursor: pointer;
  z-index: 10;
}

.login-tab {
  height: 466px;
}

.signup-tab {
  height: 926px;
}

.fastLogin-buttons {
  padding-top: 36px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.fastLogin-button {
  width: 100%;
  height: 56px;
  color: $singIn-fastLoginBtn-color;
  font-size: 16px;
  border: $singIn-fastLoginBtn-border;
  background: $singIn-fastLoginBtn-bg;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  cursor: pointer;
}

.singIn-line {
  width: 142px;
  height: 1px;
  background: $singIn-line;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.singUp-line {
  width: 137px;
  height: 1px;
  background: $singIn-line;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.alternative-login {
  padding-top: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
}

.singIn-form {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 16px;
}

.singIn-link {
  text-align: right;
  color: $singIn-submitBtn-link;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.login-submit {
  background: $singIn-submitBtn-link;
  border-radius: 4px;
  height: 44px;
  color: $singIn-submit-color;
}

.signUp-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}
