@import "variables";

.container {
  flex-direction: column;
}

.result-list {
  width: 100%;
  margin-top: 40px;
  color: $primary-text-color;

  &>.result-item+.result-item {
    margin-top: 8px;
  }
}

.result-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  width: 100%;
  margin: 16px 0 20px;

  &__link {
    width: 126px;
    height: 60px;
  }
}