<header class="header">
  <div class="container header-container">
    <img routerLink="/" routerLinkActive="active" class="header-logo" ngSrc="assets/icons/header_logo.svg" alt="header-logo" height="39" width="112">
    <div class="header-menu">
      <span *ngIf="true">Book flight</span>
      <div *ngIf="false" class="header-booking">
        <div class="booking-step">
          <div class="booking-step-icon active-step">
            <img ngSrc="assets/icons/check_icon.svg" alt="current-step icon" height="9" width="10">
          </div>
          <span>Flights</span>
        </div>
        <div class="booking-line"></div>
        <div class="booking-step">
          <div class="booking-step-icon active-step">
            <img ngSrc="assets/icons/pencil_icon.svg" alt="current-step icon" height="9" width="10">
          </div>
          <span>Passengers</span>
        </div>
        <div class="booking-line"></div>
        <div class="booking-step">
          <div class="booking-step-icon not-active-step">3</div>
          <span>Review & Payment</span>
        </div>
      </div>
      <select class="header-button header-date-format" name="date-format" id="date-format">
        <option class="header-option" selected>MM/DD/YYYY</option>
        <option class="header-option">DD/MM/YYYY</option>
        <option class="header-option">YYYY/DD/MM</option>
        <option class="header-option">YYYY/MM/DD</option>
      </select>
      <select class="header-button header-currency" name="currency" id="currency">
        <option class="header-option" selected>EUR</option>
        <option class="header-option">USA</option>
        <option class="header-option">RUB</option>
        <option class="header-option">PLN</option>
      </select>
      <div class="header-singIn-container">
        <button class="header-button header-singIn" (click)="changeStatusSingIn()">
          <img ngSrc="assets/icons/singInIcon.svg" alt="sign in" width="24" height="24">
          <span>Sign in</span>
        </button>
        <div class="singIn-modal" [class.active]="singInActive">
          <div class="singIn">
            <mat-tab-group mat-align-tabs="center" animationDuration="300ms" dynamicHeight>
              <mat-tab label="Log in">
                <div class="login-tab">
                  <div class="fastLogin-buttons">
                    <button class="header-button fastLogin-button">
                      <img ngSrc="assets/icons/google_icon.svg" alt="google icon" height="19" width="18">
                      <span>Continue with Google</span>
                    </button>
                    <button class="header-button fastLogin-button">
                      <img ngSrc="assets/icons/facebook_icon.svg" alt="google icon" height="19" width="18">
                      <span>Continue with Facebook</span>
                    </button>
                  </div>
                  <div class="alternative-login">
                    <div class="singIn-line"></div>
                    <span style="font-size: 12px; color: black">or log in with your email</span>
                    <div class="singIn-line"></div>
                  </div>
                  <form class="singIn-form" novalidate>
                    <mat-form-field color="primary" subscriptSizing="dynamic" appearance="fill">
                      <mat-label>E-mail</mat-label>
                      <input matInput type="text" name="e-mail" formControlName="e-mail" />
                    </mat-form-field>
                    <mat-form-field color="primary" subscriptSizing="dynamic" appearance="fill">
                      <mat-label>Password</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'" name="password" formControlName="password" />
                      <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon style="color: #CECECE">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </mat-form-field>
                    <span class="singIn-link">Forgot password?</span>
                    <button class="login-submit" type="submit" [disabled]="true">Log in</button>
                  </form>
                </div>
              </mat-tab>
              <mat-tab label="Sign up">
                <div class="signup-tab">
                  <div class="fastLogin-buttons">
                    <button class="header-button fastLogin-button">
                      <img ngSrc="assets/icons/google_icon.svg" alt="google icon" height="19" width="18">
                      <span>Continue with Google</span>
                    </button>
                    <button class="header-button fastLogin-button">
                      <img ngSrc="assets/icons/facebook_icon.svg" alt="google icon" height="19" width="18">
                      <span>Continue with Facebook</span>
                    </button>
                  </div>
                  <div class="alternative-login">
                    <div class="singUp-line"></div>
                    <span style="font-size: 12px; color: black">or sign up with your email</span>
                    <div class="singUp-line"></div>
                  </div>
                  <form class="singIn-form" novalidate>
                    <mat-form-field color="primary" subscriptSizing="dynamic" appearance="fill">
                      <mat-label>E-mail</mat-label>
                      <input matInput type="text" name="e-mail" formControlName="e-mail" />
                    </mat-form-field>
                    <mat-form-field color="primary" subscriptSizing="dynamic" appearance="fill">
                      <mat-label>Password</mat-label>
                      <input matInput type="password" name="password" formControlName="password" />
                    </mat-form-field>
                    <mat-form-field color="primary" subscriptSizing="dynamic" appearance="fill">
                      <mat-label>First name</mat-label>
                      <input matInput type="text" name="firstName" formControlName="firstName"/>
                    </mat-form-field>
                    <mat-form-field color="primary" subscriptSizing="dynamic" appearance="fill">
                      <mat-label>Last name</mat-label>
                      <input matInput type="text" name="lastName" formControlName="lastName" />
                    </mat-form-field>
                    <mat-form-field color="primary" subscriptSizing="dynamic" appearance="fill">
                      <mat-label>Date of bird</mat-label>
                      <input matInput [matDatepicker]="dp" type="text" name="dateOfBird" formControlName="dateOfBird" />
                      <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                      <mat-datepicker #dp></mat-datepicker>
                    </mat-form-field>

                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" #group="matButtonToggleGroup">
                      <mat-button-toggle value="male" style="width: 50%">
                        <mat-icon *ngIf="group.value === 'male'">check</mat-icon>
                        <span style="padding-left: 8px">Male</span>
                      </mat-button-toggle>
                      <mat-button-toggle value="female" style="width: 50%">
                        <mat-icon *ngIf="group.value === 'female'">check</mat-icon>
                        <span style="padding-left: 8px">Female</span>
                      </mat-button-toggle>
                    </mat-button-toggle-group>

                    <div class="signUp-phone">
                      <mat-form-field subscriptSizing="dynamic" appearance="fill" style="width: 50%">
                        <mat-label>Country code</mat-label>
                        <mat-select value="+93">
                          <mat-option [value]="'+93'">
                            Afghanistan (+93)
                          </mat-option>
                          <mat-option [value]="'+7'">
                            Russia (+7)
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field subscriptSizing="dynamic" style="width: 50%">
                        <mat-label>Mobile phone number</mat-label>
                        <input type="tel" matInput placeholder="e.g. 111111111">
                      </mat-form-field>
                    </div>

                    <mat-form-field subscriptSizing="dynamic" appearance="fill">
                      <mat-label>Citizenship</mat-label>
                      <mat-select>
                        <mat-option [value]="'afghanistan'">
                          Afghanistan
                        </mat-option>
                        <mat-option [value]="'russia'">
                          Russia
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-checkbox color="primary">
                      I agree to Airway's <span class="singIn-link">Privacy Policy</span> and <span class="singIn-link">Terms of Use</span>
                    </mat-checkbox>
                    <button class="login-submit" type="submit" [disabled]="true">Sign Up</button>
                  </form>
                </div>
              </mat-tab>
            </mat-tab-group>
            <mat-icon class="singIn-closeButton" (click)="changeStatusSingIn()">close</mat-icon>
          </div>
        </div>
      </div>
      <button routerLink="/cart" routerLinkActive="active" class="header-basket">
        <img ngSrc="assets/icons/basket_icon.svg" alt="basket" width="24" height="24">
      </button>
    </div>
  </div>
</header>
