@import "variables";

.header {
  height: 88px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;

  background: $header-bg;
  color: $white;
}


.header-logo {
  cursor: pointer;
}

.header-booking {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6px;
}

.booking-step {
  display: flex;
  column-gap: 8px;
}

.booking-step-icon {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: $grey;
  border-radius: 100px;
  font-size: 12px;
}

.activeStep {
  background: $lite-blue-background;
}

.booking-line {
  width: 79.9px;
  height: 1px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  background: $lite-grey;
}

.header-menu {
  display: flex;
  align-items: center;
  column-gap: 40px;
  justify-content: space-evenly;
}

.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  background: $header-button-bg;
  border: 0.5px solid $header-button-border;
  border-radius: 4px;
  color: $white;
  cursor: pointer;
}

.header-option {
  color: $black;
}

.header-date-format {
  width: 162px;
  height: 40px;
  padding-left: 10px;
}

.header-currency {
  width: 62px;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
}

.header-singIn {
  width: 100%;
  max-width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  overflow: hidden;
}

.header-basket {
  background: transparent;
  border: none;
  cursor: pointer;
}
