<div class="container summary">
  <div class="summary__wrapper">
    <div class="summary__title">
      <mat-icon class="summary__title-icon">preview</mat-icon>
      <h3 class="h3-blue">Summary</h3>
    </div>
    <div class="summary__order">
      <app-summary-order></app-summary-order>
      <app-summary-order *ngIf="false"></app-summary-order>
    </div>
    <div class="summary__fare">
      <app-summary-fare></app-summary-fare>
    </div>
    <div class="summary__bottom">
      <a mat-flat-button color="basic" class="summary__bottom-btn" [routerLink]="['/search']">
        Back
      </a>
      <button mat-stroked-button color="primary" class="summary__bottom-btn">
        Add to order cart
      </button>
      <button mat-flat-button color="primary" class="summary__bottom-btn">Buy now</button>
    </div>
  </div>
</div>
