<div class="search-info">
  <div class="container">
    <div class="search-info__ways">
      <span>{{ from }}</span>
      <img
        class="search-info__img"
        ngSrc="assets/icons/github-icon.svg"
        alt="Arrows"
        width="24"
        height="24"
      />
      <span>{{ to }}</span>
    </div>
    <div class="search-info__counts">
      Return
      <span class="search-info__counts__round">&bull;</span>
      <span>{{ dateFrom | date : "MMM d" }}</span>
      <span> - </span>
      <span>{{ dateTo | date : "MMM d" }}</span>
      <span class="search-info__counts__round">&bull;</span>
      <span class="search-info__counts__people">{{ count }}</span>
      <mat-icon class="icon" fontIcon="person"></mat-icon>
    </div>
    <button class="btn btn-transparent">Edit</button>
  </div>
</div>
