@import "/src/app/styles/variables";

.search-info {
  height: 68px;
  background: $lite-grey-background;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);

  .container {
    justify-content: flex-start;
  }

  &__ways {
    font-size: 16px;
    font-weight: 500;
    margin-right: 30px;
  }

  &__img {
    padding: 0 10px;
  }

  &__counts {
    display: flex;
    align-items: center;

    color: $grey;
    font-weight: 500;

    &__round {
      display: inline-block;
      height: fit-content;
      padding: 0 5px;

      font-size: 24px;
      color: $lite-blue;
      vertical-align: bottom;
    }

    .icon {
      transform: scale(0.8) translate(0px, -2px);
      color: $grey;
    }
  }

  .btn {
    width: 44px;
    height: 28px;
    padding: 4px 8px 4px 8px;
    border-radius: 5px;
  }
}
