<div class="container passengers-container">
  <div class="passengers-information">
    <div class="passengers-head">
      <mat-icon>person</mat-icon>
      <h2>Passengers</h2>
    </div>
    <p class="passengers-text">Enter the passenger's names as they appear on document (passport or ID). </p>
    <app-passengers-info cardHead="1. Adult" ageStatus="Adult"></app-passengers-info>
    <app-passengers-info cardHead="2. Child" ageStatus="Children"></app-passengers-info>
    <app-passengers-info cardHead="3. Infant" ageStatus="Infant"></app-passengers-info>
  </div>
</div>

