@import "variables";

.footer {
  border-top: 1px solid $footer-border;
}

.footer-container {
  height: 92px;
  justify-content: space-between;
}

.footer-left {
  color: $primary-text-color;
}

.footer-right {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
}

.pay-icons {
  display: flex;
  column-gap: 15px;
}
