@import "./app/styles/variables";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
}

.active {
  display: block !important;
}

.btn {
  border: none;
  text-transform: capitalize;
  cursor: pointer;
}

.btn-transparent {
  background: $btn-transparent;
  color: $primary-text-color;
  font-weight: 500;
}

.btn-blue {
  color: $white;
  background: $primary-text-color;
}
