@import "./app/styles/variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
app-root {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $main-background;
}

app-root {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
}

.active {
  display: block; // !important
}

.btn {
  border: none;
  text-transform: capitalize;
  cursor: pointer;
}

.btn-transparent {
  background: $btn-transparent;
  color: $primary-text-color;
  font-weight: 500;
}

.btn-blue {
  color: $white;
  background: $primary-text-color;
}

.h3-blue {
  margin: 0 !important;

  color: $primary-text-color;
  white-space: nowrap !important;
  font-weight: 600 !important;
  font-size: 24px !important;
}

// inputs

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  appearance: textfield;
}

//отражение изображения
.mirrorY {
  transform: scale(-1, 1);
}

// close symbol
.cross {
  position: absolute;
  top: 20px;
  right: 20px;

  font-size: 32px;
  color: $white;
  cursor: pointer;
}

:disabled {
  background: $btn-disabledBtn-link !important;
  cursor: not-allowed !important;
}

